/* css */

/* .porfolio-img-container {
  overflow: hidden;
  position: relative;
}

.portfolio-img:hover img {
  transform: scale(1.1);
}

.portfolio-content {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgb(245, 245, 245, 0.75);
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0px;
  bottom: 0px;
}

.portfolio-img:hover .portfolio-content {
  opacity: 1;
}

.portfolio-img:hover .portfolio-lines-1 {
  display: block;
  width: 48px;
  height: 48px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio-img:hover .portfolio-lines-2 {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio-content h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  align-self: center;
  font-family: "Nunito", sans-serif;
}

.portfolio-content p {
  font-size: 14px;
  color: #012970;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Opan sans", sans-serif;
}

.portfolio-links {
  display: inline-block;
}

.portfolio-links a {
  margin: 10px 2px;
  font-size: 24px;
  color: #fff;
  padding: 2px 5px;
  background: #4154f1;
  border-radius: 20px;
} */

/* html */
/* 
 <div class="row gallery-carousel portfolio-container">
  <div class="col-lg-4 col-md-6 filter-app  portfolio-img">
   <div class="porfolio-img-container">
     <img src="img/portfolio/portfolio-1.jpg" alt="#">
    <div class="portfolio-content">
     <div class="portfolio-lines-1"></div>
     <h4 >App 1</h4>
     <p>App</p>

     <div class="portfolio-links popup-gallery gallery-item">
       <a href="img/portfolio/portfolio-1.jpg" data-effect="mfp-zoom-in" ><i class="bi bi-plus"></i></a>
       <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
     </div>
     <div class="portfolio-lines-2"></div>
   </div>
   </div>
  </div> */
